* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

:root {
    --text-lightgrey:  rgb(125, 127, 132);
    --content-bg-light: rgb(20, 25, 34);
    --footer-bg: rgb(40, 40, 40);
    --lime-green: rgb(173, 255, 47);
    --sidebar-width: 60px;
    --footer-height: 100px;
}

/* Utility */

.block {
    display: block;
}

.inline {
    display: inline;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.just-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.overflow-scroll {
    overflow-y: scroll;
}

.gap1 {
    gap: 1rem;
}

.gap2 {
    gap: 2rem;
}

.text-grey {
    color: var(--text-lightgrey);
}

.white {
    color: white;
}

.capitalize {
    text-transform: capitalize;
}

.bold {
    font-weight: bold;
}

.ls-none {
    list-style: none;
}

a {
    text-decoration: none;
}

.margintop1 {
    margin-top: 1rem;
}

.margintop2 {
    margin-top: 2rem;
}

.marginbottom2 {
    margin-bottom: 2rem;
}

.margineleft2 {
    margin-left: 2rem;
}

.margineleft1 {
    margin-left: 1rem;
}

.margineleft0-5 {
    margin-left: 0.5rem;
}

.hidden {
    display: none;
}

.font08 {
    font-size: 0.8rem;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    border: solid 1px white;
    font-size: 0.9rem;
}

.rounded {
    border-radius: 50%;
}

.overflow-hidden {
    overflow: hidden;
}


/* CSS */

/* Main */

main {
    height: calc(100vh - var(--footer-height));
}

/* Aside */

#sidebar {
    width: var(--sidebar-width);
    background-color: black;
}

.sidebar-container {
    height: 100%;
}

.nav-top {
    padding: 1rem;
}

#logo-small {
    width: 30px;
    margin: auto;
}

.nav-top-container i {
    font-size: 1.3rem;
}

#user-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--text-lightgrey);
}

#user-img i {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    width: 100%;
}

#logo-big {
    width: 150px;
}


/* Content */

#content {
    background-color: var(--content-bg-light);
    width: calc(100% - var(--sidebar-width));
    padding: calc(100px + 1rem) 1rem 2rem;
}

#cta {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100px;
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    justify-content: flex-end;
    padding-right: 2rem;
    font-weight: bold;
}

.music-item-container {
    width: 50%;
    padding: 0.5rem;
}

.music-item img {
    width: 100%;
    display: block;
}

/* Footer */

footer {
    background-color: var(--footer-bg);
    height: var(--footer-height);
}

/* Responsive */

/* Size XS */

@media screen and (min-width:576px) {
    :root {
        --sidebar-width: 250px;
    }

    #sidebar li {
        width: 100%;
    }

    .hidden {
        display: block;
    }

    #logo-small {
        display: none;
    }

    .borderbottom-grey {
        border-bottom: 1px solid var(--text-lightgrey);
        padding-bottom: 10px;
    }
}

/* Size S */

@media screen and (min-width:768px) {
    
}

/* Size MD */

@media screen and (min-width:992px) {

    .music-item-container {
        width: 25%;
    }
    
}

/* Size LG */

@media screen and (min-width:1200px) {

    .music-item-container {
        width: calc(100% / 6);
    }
    
}